@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

strong {
  font-weight: 600;
}

.site-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.game {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

/* Hangman */
.hangman {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 40px;
  flex-grow: 1;
}

.hangman svg {
  stroke-width: 2;
}

.wordZone {
  display: flex;
  flex-direction: column;
}

/* Keyboard and inputs */
.inputZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}

.hangmanForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title img {
  width: 40px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
}
.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid 1px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.key--correct {
  background-color: rgb(182, 243, 182);
}

.key--incorrect {
  background-color: rgb(207, 207, 207);
  cursor: default;
}

.word {
  display: flex;
  margin: 20px 0;
}

.letter {
  font-size: 3em;
  position: relative;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-hidden::after {
  content: "_";
  position: absolute;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-show::after {
  content: "_";
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: white;
  border: solid 1px;
  padding: 14px;
}

.button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

#hidden-button {
  display: none;
}

@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 1023px) {
  .game {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {

}
