@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --color-light-gray: #f5f5f5;
  --color-white: #ffffff;
  --color-dark: #333333;
  --color-acier: #778289;
  --color-combat: #30336b;
  --color-dragon: #ffeaa7;
  --color-eau: #0190ff;
  --color-electrik: #ffc801;
  --color-fee: #ff0069;
  --color-feu: #f0932b;
  --color-glace: #74b9ff;
  --color-insecte: #26de81;
  --color-normal: #95afc0;
  --color-plante: #00b894;
  --color-poison: #6c5ce7;
  --color-psy: #a29bfe;
  --color-roche: #2d3436;
  --color-sol: #efb549;
  --color-spectre: #a55eea;
  --color-tenebres: #1e2122;
  --color-vol: #399d9d;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-light-gray);
}

strong {
  font-weight: 600;
}

.site-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Hangman */
.hangman {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 40px;
}

.hangman svg {
  stroke-width: 2;
}

/* Keyboard and inputs */
.inputZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}

.hangmanForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title img {
  width: 40px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
}
.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid 1px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.key--correct {
  background-color: rgb(182, 243, 182);
}

.key--incorrect {
  background-color: rgb(207, 207, 207);
  cursor: default;
}

.word {
  display: flex;
  margin: 20px 0;
}

.letter {
  font-size: 3em;
  position: relative;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-hidden::after {
  content: "_";
  position: absolute;
  width: 100%;
  background-color: var(--color-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-show::after {
  content: "_";
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  border: solid 1px;
  padding: 14px;
}

.button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

#hidden-button {
  display: none;
}

@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 1023px) {
  .game {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {

}
